/**
 *eslint配置文件
 */
{
  "extends": ["standard", "plugin:vue/recommended"],
  "plugins": ["html", "vue"],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "no-tabs": "off"
  }
}
