/**
 *eslint配置文件
 *off 或 0：表示不验证规则
 *warn 或 1：表示验证规则，当不满足时，给警告
 *error或 2 ：表示验证规则，不满足时报错
 */
{
  "extends": ["standard", "plugin:vue/recommended"],
  "plugins": ["html","vue"],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "no-tabs": "off",
    "no-console": "off",
    "no-debugger": "off",
    "comma-dangle": ["warn", "always-multiline"],
    "space-before-function-paren":"off"
  }
}
